# Puerto del servidor
PORT=5000

# Base de datos MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/t1_technical_test?retryWrites=true&w=majority

# JWT Secret
JWT_SECRET=tu_jwt_secret_muy_seguro_aqui_cambiar_en_produccion

# JWT Expiration
JWT_EXPIRES_IN=7d

# Entorno
NODE_ENV=development

# CORS Origins (separados por coma)
CORS_ORIGINS=http://localhost:3000,http://localhost:3001
